#container {
    max-width: 750px;  
  }
  
  .step-container {
    position: relative;
    text-align: center;
    transform: translateY(-43%);
  }
  
  .step-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid rgb(209,53,69);
    color: black;
    line-height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer; /* Added cursor pointer */
  }
  
  .step-line {
    position: absolute;
    top: 16px;
    left: 50px;
    width: calc(100% - 100px);
    height: 2px;
    background-color: #007bff;
    z-index: -1;
  }
  
  #multi-step-form{
    overflow-x: hidden;
  }

  .input_fields{
    border-radius: 0 !important;
  }
  .buttons_main button{
    font-weight: 600 !important;
  }